Source: corecluster-storage-sheepdog
Section: contrib
Priority: extra
Maintainer: Maciej Nabozny <maciej.nabozny@cloudover.io>
Build-Depends: debhelper (>= 8.0.0), dh-systemd
Standards-Version: 3.9.4
Homepage: http://cloudover.org/corecluster/

Package: corecluster-storage-sheepdog
Architecture: all
Depends: corenetwork, sheepdog, ntpdate
Description: Sheepdog for CoreCluster
 This package contains drivers and agents for CoreCluster to support
 sheepdog distributed storage.
